.locale-single-view{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    /* background: url("../../img/locale-bg.jpg")*/
}
.single-view-back img {
    margin: 11px 8px;
    display: block;
    position: absolute;
    width: 48px;
    height: 48px;
}
.locale-single-view-logo {
    width: 100%;
    display: block;
}
.locale-single-view-logo img{
    height: 42px;
    width: 42px;
    margin: 5px auto;
    display: block;
}
.locale-single-view-image {
    position:fixed;
    bottom: 202px;
    left: 0;
    right: 0;
    top: 70px;
    min-width: 100%;
    width: 100%;
    display: block;
    border-top: 3px solid #fff;
    overflow: hidden;
}
.locale-single-view-image img {
    position: absolute;
    height: 100%;
    width: auto;
    left: 50%;
    transform: translate(-50%, 0);
}

.navbar-locale-handler-single-view {
    position: fixed;
    background: none !important;
    border-bottom: 3px solid #fff;
    border-top: 3px solid #fff;
    left: 0px;
    right: 0px;
    bottom: 129px;
    min-height: 1px !important;
}
.locale-nav-single-view a {
    color: #000;
    border-radius: 30px;
    margin-top: 0px;
    margin-bottom: 0px !important;
    height: 100%;
    min-height: 100%;
    padding: 8px 0px;
}
.container-fluid-custom-single-view {
    padding: 0px !important;
    margin: 0px !important;
}
.locale-nav-single-view {
    padding: 0px 0px;
    margin: 1px auto !important;
    text-align: center;
}
.locale-nav-single-view a i {
    color: #fff;
    font-size: 33px;
    margin: 0px !important;
}
.locale-nav-single-view a span {
    color: #fff;
    font-size: 21px;
    margin: auto;
}
.locale-nav-single-view a:active {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.single-view-host-img{
    position: absolute;
    bottom: 17.5px;
    left: 13px;
    background-color: #000;
    height: 115px;
    width: 115px;
}
.single-view-descrition {
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 135px;
    right: 13px;
    bottom: 17px;
    height: 70px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll; 
}
.single-view-descrition h5 {
    font-size: calc(12px + 0.2vw);
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 0px;
}
.single-view-descrition p {
    color: #fff;
    font-size: calc(10px + 0.2vw);
}
.non-responding-circle {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
    bottom: 97px;
}
.non-responding-circle i {
    font-size: 20px;
    margin: 10px auto auto 12px;
    color: #fff;
}
.facebook-circle {
    position: absolute;
    left: 135px;
}
.facebook-circle i {
    margin: 10px auto auto 15px !important;
}
.instagram-circle {
    position: absolute;
    left: 190px;
}
.twitter-circle {
    position: absolute;
    left: 243px;
}
.single-view-host-img img {
    position: absolute;
    height: 100%;
    width: 100%;
}
.locale-modal {
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.87);
    height: 100%;
    -webkit-animation-name: zoomIn;
    -webkit-animation-duration: 0.4s;
    animation-name: zoomIn;
    animation-duration: 0.4s;
    min-width: 100%;
    z-index: 99999999;
    display: none;
}
.locale-modal img {
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.locale-modal i {
    position: absolute;
    top:20px;
    right: 20px;
    font-size: 30px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.modal-display{
    display: block;
}
@-webkit-keyframes slideIn {
    from {bottom: -100%; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -100%; opacity: 0}
    to {bottom: 0; opacity: 1}
}
.hidenow {
  -webkit-animation:0.4s zoomOut;
  animation:0.4s zoomOut;
}

@keyframes zoomOut {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}

@-webkit-keyframes zoomOut {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}

@keyframes zoomIn {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}

.scrollable-shell{
    overflow: scroll;
}

@media screen and (max-width: 300px){
    .non-responding-circle i {
        font-size: 15px;
        margin: 10px auto auto 12px;
        color: #fff;
    }
    .non-responding-circle {
        height: 40px;
        width: 40px;
        bottom: 97px;
    }
    .facebook-circle i {
        margin: 10px auto auto 14px !important;
    }
    .instagram-circle {
        left: 180px;
    }
    .twitter-circle {
        left: 225px;
    }
}