.locale-login-blur{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    /* background: url("../../img/locale-bg.jpg")*/
}
.locale-login{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    display: block;
    max-height: 100%;
    overflow: scroll;
    max-width: 100%;
}
.locale-login-header {
    text-align: center;
    font-size: 62px;
    display: block;
    margin-top: 20px;
}
.locale-logo-login img {
    height:40vw;
    width: 40vw;
    display: block;
    margin: 10px auto;
    max-width: 175px;
    max-height: 175px;
    -webkit-filter: drop-shadow(2px 2px 9px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 9px rgba(0, 0, 0, 0.5));
}
.locale-logo-login{
    margin: 10px auto 30px auto;

}
.username-locale-shell{
    background: rgba(0, 0, 0, 0);
    position: relative;
    margin: 0.5em auto;
    padding: 0px;
    height: 27px;
    width: 70%;
    border: 3px solid #fff;
    border-radius: 30px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);

}
.username-locale {
    background: none;
    padding: 0px 3px;
    margin: 0px;
    border:0;
    width: 100%;
    font-size: 9px;
    line-height: 25px;
    min-height: 100%;
    color: #fff;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
}
input::placeholder {
  color: #fff;
  padding-left: 4px;
}
.locale-login-button {
    font-size: 3vw;
    border-radius: 30px;
    background-color: transparent;
    border: 3px solid #fff;
    margin-left: 22%;
    margin-right: auto;
    margin-top: 5%;
    width: 20%;
    padding: 0px;
    z-index: 1;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
}
.locale-signup-button {
    font-size: 3vw;
    border-radius: 30px;
    background-color: transparent;
    border: 3px solid #fff;
    margin-left: 16%;
    margin-top: 5%;
    width: 20%;
    margin-right: auto;
    white-space: nowrap;
    padding: 0px;
    z-index: 1;
    text-align: center;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
}

.locale-login a{
    margin: auto;
}
.circle-inner-login h4 {
    font-size: 2.4vw;
    white-space: nowrap;
    text-align: center;
    display: block;
    margin-left: -2.4vw;
    width: 30vw;
    margin-top: 0px;
    margin-bottom: 3px;
    font-weight: bold;
}
.responsive-circle-login {
    margin-top: 16% !important;
    top: 15px;
    left: 15px;
    font-weight: 700;
    margin: auto;
    width: 25vw;
    max-width: 150px;
    max-height: 150px;
    
}
.responsive-circle-login::after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 0;
    margin-bottom: 20px;
    padding-bottom: 100%;
    width: 100%;
    border: 1.5px solid #fff;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
}
.responsive-circle-login div {
    color:#fff;
    float: left;
    line-height: 1em;
    padding-top: 9.4vw;
    text-align: center;
    width: 100%;
}
.error-message-shell {
    position: fixed;
    bottom: 30px;
    left: 10%;
    right: 10%;
}
.error-message {
    position: relative;
    display: block;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    text-align: center;
    font-size: 4vw;
}



@media screen and (max-width: 260px){
    .locale-login-header {
        font-size: 16vw !important;
        margin-top: 40px;
    }
}
@media screen and (max-width: 360px){
    .locale-login-header {
        font-size: 16vw;
        margin-top: 40px;
    }
}
@media screen and (min-width: 600px){
    .circle-inner-login h4 {
        font-size: 15px;
        margin-left: auto;
        width: inherit;
    }
    .responsive-circle-login {
        margin-top: 60px !important;
    }
    .responsive-circle-login div {
        padding-top: 54px;
    }
    .responsive-circle-login {
        width: 200px;
    }
    .locale-login-button {
        font-size: 2vw;
        margin-top: 10px;
    }
    .locale-signup-button {
        font-size: 2vw;
        margin-top: 10px;
    }
}