.locale-single-view{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    /* background: url("../../img/locale-bg.jpg")*/
}
.locale-single-view-logo {
    width: 100%;
    display: block;
}
.locale-single-view-logo img{
    height: 30px;
    width: 30px;
    margin: auto;
}
.locale-single-view-image {
    position:fixed;
    bottom: 190px;
    left: 0;
    right: 0;
    top: 70px;
    min-width: 100%;
    width: 100%;
    background-color: #fff;
    display: block;
}
.locale-single-view-image img {
    position:absolute;
    height: 100%;
	width: 100%
}

.navbar-locale-handler-single-view {
    position: fixed;
    background: none !important;
    border-bottom: 3px solid #fff;
    border-top: 3px solid #fff;
    left: 0px;
    right: 0px;
    bottom: 100px;
    min-height: 1px !important;
}
.locale-nav-single-view a {
    color: #000;
    border-radius: 30px;
    margin-top: 0px;
    margin-bottom: 0px !important;
    height: 100%;
    min-height: 100%;
    padding: 15px 0px;
}
.container-fluid-custom-single-view {
    padding: 0px !important;
    margin: 0px !important;
}
.locale-nav-single-view {
    padding: 0px 0px;
    margin: 1px auto !important;
    text-align: center;
}
.locale-nav-single-view a i {
    color: #fff;
    font-size: 35px;
    margin: 0px !important;
}
.locale-nav-single-view a span {
    color: #fff;
    font-size: 21px;
    margin: auto;
}
.locale-nav-single-view a:active {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}