.locale-signup-blur{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    filter: blur(5%);
    -webkit-filter: blur(5%);
    background-color: #000;
    /* background: url("../../img/locale-bg.jpg")*/
}
.locale-signup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    display: block;
}
.signup-fill-shell {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px 30px;
}