<div class="add-locale-admin-shell">
	<div class="add-locale-admin-titlebar row">
		<a onclick="history.back(-1)" class="back-button"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
		<h2>Create Admin</h2>
	</div>
	<h1>{{msg}}</h1>
	<div class="add-locale-admin-body">
		<div class="add-locale-admin-input">
			<input placeholder="USERNAME" type="text" value="" ng-model="username"/>
		</div>
		<div class="add-locale-admin-input">
			<input placeholder="PASSWORD" type="text" value="" ng-model="password"/>
		</div>
		<div class="add-locale-admin-input">
			<input placeholder="EMAIL" type="text" value="" ng-model="email"/>
		</div>
		<div class="add-locale-admin-input">
			<input placeholder="FULLNAME" type="text" value="" ng-model="fullname"/>
		</div>
		<div class="input-imgurl">
			<input placeholder="CATEGORY IMAGE URL" type="text" value="" ng-model="img_url"/>
			<div class="add-profile-image"><img src="img/edc2bc104.jpg" alt="" class="add-profile-image-inner"></div>
		</div>
		<a class="ok-box" ng-click="addCategory()"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
	</div>

</div>