<div class="edit-host-locale-admin-shell">
	<div class="edit-host-locale-admin-titlebar row">
		<a onclick="history.back(-1)" class="back-button"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
		<h2>Edit Event Host</h2>
	</div>
	<div class="edit-host-locale-admin-body para-handler">
		<div class="add-host-locale-admin-input shell-input">
			<p>Name</p>
			<input placeholder="NAME" type="text" value="" ng-model="host.name"/>
		</div>
		<div class="add-host-locale-admin-input shell-input">
			<p>Description</p>
			<input placeholder="DESCRIPTION" type="text" value="" ng-model="host.short_description"/>
		</div>
		<div class="add-host-locale-admin-input shell-input">
			<p>Facebook Link</p>
			<input placeholder="FACEBOOK LINK" type="url" value="" ng-model="host.facebook"/>
		</div>
		<div class="add-host-locale-admin-input shell-input">
			<p>Instagram Link</p>
			<input placeholder="INSTAGRAM LINK" type="url" value="" ng-model="host.instagram"/>
		</div>
		<div class="add-host-locale-admin-input shell-input">
			<p>Twitter Link</p>
			<input placeholder="TWITTER LINK" type="url" value="" ng-model="host.twitter"/>
		</div>
		<div class="input-imgurl shell-input">
			<p>Image URL</p>
			<input placeholder="IMAGE URL" type="text" value="" ng-model="host.img_url"/>
			<div class="add-profile-image"><img ng-src="{{host.img_url}}" alt="" class="add-profile-image-inner"></div>
		</div>
		<div class="mapview-shell shell-input">
			<p>Embeded Maps</p>
			<input placeholder="MAP-EMBEDED-URL" ng-change="mapChange()" type="text" value="" ng-model="host.google_map_embed"/>
			<div class="mapview-shell-2">
				<div class="mapview-host">
  				</div>
			</div>
		</div>
		<a class="ok-box" ng-click="editHost()"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
	</div>
	<div class="error-message-shell" ng-hide="loginAlertMessage">
        <div class="error-message">{{msg}}</div>
    </div>
</div>