.edit-host-locale-admin-shell {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.edit-host-locale-admin-titlebar {
  position:relative;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  width: 100%;
  background-color: rgba(0, 0, 0, .4);
  margin: 0px;
  padding: 0px;
  color: #fff;
}
.edit-host-locale-admin-titlebar h2{
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: calc(20px + 2vw);
}
.edit-host-locale-admin-input {
  background-color: rgba(255, 255, 255, .1);
  width: 58%;
  margin: 0px auto;
  padding: .2vw 0 0 0;
}
.edit-host-locale-admin-input input:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}
.edit-host-locale-admin-input input {
  background: transparent !important;
  display: block;
  padding: 0px;
  color: #fff !important;
  height:100%;
  border: 0;
  font-size: 3vw;
  margin:3vw auto;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}
.input-imgurl {
  position: relative;
  height: 18vw;
  background-color: rgba(255, 255, 255, .1);
  width: 58%;
  margin: 0px auto 10px auto;
  padding: 1px 0 0 0;
  display: block;
}
.input-imgurl input {
  background: transparent !important;
  display: block;
  padding: 0px;
  color: #fff !important;
  height:100%;
  border: 0;
  font-size: 3vw;
  margin:auto;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}
.input-imgurl input:focus {
  outline: none;
  box-shadow: 0px 4px 0px 0px #4EA6EA, 0px 4px 0px 0px #4EA6EA;
}
.edit-host-profile-image {
  background-color: #fff;
  height: 16vw;
  width: 16vw;
  position: absolute;
  right: 2px;
  top: 1vw;
}
.edit-host-profile-image img {
  background-color: #000;
  height: 100%;
  width: 100%;
  position: absolute;
}
.edit-host-locale-admin-body {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top:130px;
  background-color: rgba(0, 0, 0, .4);
  width: 100%;
  padding-top: 3vw; 
  margin: auto;
  display: block;
  overflow: scroll;
}
.edit-host-locale-admin-body a {
  font-size: 60px;
  color: rgba(174, 213, 129, 1);
  width: 100%;
  margin: auto;
}
.ok-box {
  text-align: center;
  display: block;
  width: 100%;
  margin: auto;
}
.back-button {
  color: #fff;
  position:absolute;
  top: 13px;
  left: 13px;
  font-size: 30px;
  z-index: 1 !important;
}
.mapview-host iframe {
  display: block;
  height: 10% !important;
  width: 95% !important;
  margin: auto;
}
.mapview-shell-2{
  display: block;
  height: 10% !important;
  width: 95% !important;
  margin: auto;
}
.mapview-host img {
  margin: auto;
  display: block;
  height: 9% !important;
  width: 95% !important;
}
.mapview-shell {
  background-color: rgba(255, 255, 255, .1);
  width: 58%;
  margin: 0px auto 10px auto !important;
  padding: 1px 0 !important;
}
.mapview-shell input{  
  background: transparent !important;
  display: block;
  padding: 0px;
  color: #fff !important;
  height:100%;
  border: 0;
  font-size: 3vw;
  margin:3vw auto;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.para-handler p {
  text-align: center;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, .2);
  width: 58%;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

@media screen and (min-width:768px){
  .edit-host-locale-admin-shell {
    position:fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
}