.locale-signup-blur{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: #000;
}
.locale-signup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    display: block;
}
.sign-up-header {
    margin-top: 40px !important;
}
.signup-fill-shell {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1px 0px;
    margin: 40px 30px;
    border-radius: 14px;
}
.signup-fill-shell h5{
    display: block;
    margin: 3px auto 20px auto;
    text-align: center;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
}
.sign-up-input {
    margin: 20px auto !important;
    border: 1px solid #fff !important;
    width: 90% !important;
}
.sign-up-inner-input {
    line-height: 27px !important;
}
.sign-up-top {
    margin-top: 30px !important;
}
.sign-up-bot {
    margin-bottom: 50px !important;
}
.locale-createaccount-button {
    font-size: 4vw;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid #fff;
    margin: 10px auto;
    padding: 3px 10px;
    display: block;
    z-index: 1;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
}