<div class="locale-login">
    <h1 class="locale-login-header sign-up-header">LOCALE</h1>
        <div class="signup-fill-shell">
            <h5>SIGN UP</h5>
            <div class="username-locale-shell sign-up-input sign-up-top row">
                <input type="email" class="username-locale sign-up-inner-input" id="i2" placeholder="USERNAME:" onfocus="" ng-model="register.username">
            </div>
            <div class="username-locale-shell sign-up-input row">
                <input type="password" class="username-locale sign-up-inner-input" id="i2" placeholder="PASSWORD:" onfocus="" ng-model="register.password">
            </div>
            <div class="username-locale-shell sign-up-input sign-up-bot row">
                <input type="password" class="username-locale sign-up-inner-input" id="i2" placeholder="RE-TYPE PASSWORD:" onfocus="" ng-model="register.register.password_confirmation">
            </div>
            <button ng-click="register_user()" class="locale-createaccount-button">CREATE ACCOUNT</button>
        </div>
</div>