.category{
    padding: 0px 0px;
    position: relative;
    margin: 0px 15px 0px -15px !important;
}
.circle-inner-category{
    padding: auto;
}
.circle-inner-category img {
    display:block;
    margin:10px auto;
    width: 40%;
}
.circle-inner-category h4 {
    margin: 10% auto;
    font-size: 2.5vw;
    font-weight: bold;
}
.responsive-circle-category {
    top: 15px;
    left: 15px;
    font-size: 80px;
    font-weight: 700;
    margin: auto;
    width: 50%;
}
.responsive-circle-category::after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 0;
    margin-bottom: 20px;
    padding-bottom: 100%;
    width: 100%;
    border: 3px solid #fff;
}
.responsive-circle-category div {
    color:#fff;
    float: left;
    line-height: 1em;
    margin-top: -0.5em;
    padding-top: 16%;
    text-align: center;
    width: 100%;
    font-size: 30px;
}