.cms-home-shell {
	position: fixed;
	display: block;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
	z-index: 255;
}
.locale-home-menu {
	display: block;
	float: left;
	border-radius: 20%;
	border: 5px solid #fff;
	margin: 17px 0px 17px 12vw;
	position: relative;
  	height: 34vw;
}
.locale-home-menu:after {
  	content: "";
  	display: block;
  	padding-bottom: 100%;
}
.locale-home-menu p {
	color: #fff;
	text-align: center;
	font-size: 6vw;
	padding-top: 11.4vw;
	position: absolute;
	width: 100%;
    left: 0;
    font-weight: bold;
}