.locale-map-view-blur{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: #000;
}
.locale-map-view{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    display: block;
}
.locale-map-view-shell {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1px 0px;
    margin: 40px 30px;
    border-radius: 14px;
}