<link href="css/cms-home-desktop.css" rel="stylesheet">
<div class="add-host-locale-admin-shell">
	<div class="add-host-locale-admin-titlebar row">
		<a onclick="history.back(-1)" class="back-button"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
		<h2>Create Event Host</h2>
	</div>
	<div class="add-host-locale-admin-body">
		<div class="add-host-locale-admin-input">
			<input placeholder="NAME" type="text" value="" ng-model="host.name"/>
		</div>
		<div class="add-host-locale-admin-input">
			<input placeholder="DESCRIPTION" type="text" value="" ng-model="host.short_description"/>
		</div>
		<div class="add-host-locale-admin-input">
			<input placeholder="FACEBOOK LINK" type="url" value="" ng-model="host.facebook"/>
		</div>
		<div class="add-host-locale-admin-input">
			<input placeholder="INSTAGRAM LINK" type="url" value="" ng-model="host.instagram"/>
		</div>
		<div class="add-host-locale-admin-input">
			<input placeholder="TWITTER LINK" type="url" value="" ng-model="host.twitter"/>
		</div>
		<div class="input-imgurl">
			<input placeholder="IMAGE URL" type="text" value="" ng-model="host.img_url"/>
			<div class="add-host-profile-image"><img ng-src="{{host.img_url}}" alt="" class="add-host-profile-image-inner"></div>
		</div>
		
		<div class="mapview-shell">
			<input placeholder="MAP-EMBEDED-URL" ng-change="mapChange()" type="text" value="" ng-model="host.google_map_embed"/>
			<div class="mapview-shell-2">
				<div class="mapview-host">
  				</div>
			</div>
		</div>
		<div class="add-host-locale-admin-input custom-input">
			<textarea
				ng-model="host.long_desc.description"
				placeholder="LONG-DESCRIPTION">
			</textarea>
		</div>
		<a class="ok-box" ng-click="addHost()"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
	</div>
	<div class="error-message-shell" ng-hide="loginAlertMessage">
        <div class="error-message">{{msg}}</div>
    </div>
</div>