.categories-admin-shell {
    position: fixed;
	display: block;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
    min-width: 100%;
}
.category-titlebar {
    position: relative;
    height: 58px;
    width: 100%;
    background-color: rgba(48, 48, 48, 0.7)
}
.category-titlebar h2{
    font-size: 22px;
    margin-top: 14px;
}
.add-category-admin{
    padding: 0px;
    display: block;
    position: absolute;
    top: 1px;
    right: 10px;
}
.add-category-admin h5{
    font-size: 8px;
    white-space: nowrap;
    margin-top: 13px;
    margin:10px 0px 0px auto !important;
    text-align: center;
    display: block;
    color: #fff;
}
.add-category-admin i{
    margin:0px auto !important;
    font-size: 33px;
    margin-top: 13px;
    text-align: center;
    display: block;
    color: #fff;
}
.category-admin a{
    margin: 20px 0px 0px 0px !important;
}
.category-admin{
    padding: 0px 0px;
    position: relative;
    margin: 0px 10px 0px -20px !important;
}
.circle-inner-category-admin{
    padding: auto;
    margin: 20px auto;
}
.circle-inner-category-admin i{
    position: absolute;
    top: -3vw;
    right: 1vw;
    margin: auto;
    text-align: center;
    font-size: 10vw;
}
.circle-inner-category-admin img {
    display:block;
    margin:10px auto;
    width: 40%;
}
.circle-inner-category-admin h4 {
    margin: 10% auto;
    font-size: 2.5vw;
    font-weight: bold;
}
.responsive-circle-category-admin {
    top: 15px;
    left: 15px;
    font-size: 80px;
    font-weight: 700;
    margin: 2vw auto 0px auto;
    width: 50%;
}
.responsive-circle-category-admin::after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 0;
    margin-bottom: 20px;
    padding-bottom: 100%;
    width: 100%;
    border: 3px solid #fff;
}
.responsive-circle-category-admin div {
    color:#fff;
    float: left;
    line-height: 1em;
    margin-top: -0.5em;
    padding-top: 16%;
    text-align: center;
    width: 100%;
    font-size: 30px;
}

