<div class="categories-admin-shell">
	<div class="category-titlebar">
		<h2 class="col-xs-8">Categories</h2>
		<div class="add-category-admin">
			<a href="#/add-categories-admin">
				<h5>Add Category</h5>
				<i class="fa fa-plus-circle" aria-hidden="true"></i>
			</a>
		</div>
	</div>
	<div class="category-admin" ng-repeat="category in categories">
		<a class="">
			<div class="responsive-circle-category-admin col-xs-6">
				<a href="#/edit-categories-admin/{{category.id}}">
					<div class="circle-inner-category-admin">
						<img ng-src="{{category.img_url}}" alt="">
						<h4>{{category.name}}</h4>
					</div>
				</a>
				<a ng-click="deleteCategory(category.id)">
					<i class="fa fa-minus-circle" aria-hidden="true"></i>
				</a>
			</div>
		</a>
	</div>
</div>