.categories-admin-shell {
    position: fixed;
	display: block;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
}
.category-titlebar {    
    position: fixed;
    height: 58px;
    top: 0px;
    width: 100%;
    background-color: rgba(48, 48, 48, 0.7)
}
.category-titlebar h2{
    font-size: 24px;
    margin-top: 14px;
    display: block;
    padding: 10px 0px;
    text-align: center;
}
.add-category-admin{
    padding: 0px;
    display: block;
    position: absolute;
    top: 1px;
    right: 10px;
}
.add-category-admin h5{
    font-size: 8px;
    white-space: nowrap;
    margin-top: 13px;
    margin:10px 0px 0px auto !important;
    text-align: center;
    display: block;
    color: #fff;
}
.add-category-admin i{
    margin:0px auto !important;
    font-size: 33px;
    margin-top: 13px;
    text-align: center;
    display: block;
    color: #fff;
}
.category-admin a{
    margin: 20px 0px 0px 0px !important;
}
.category-admin{
    padding: 0px 0px;
    margin: 0px 15px 0px -15px !important;
}
.category-admin-body-shell{
    position: absolute;
    top:79px;
    left: 0;
    right: 0;
    bottom: 0px;
	overflow: scroll;
}
.circle-inner-category-admin{
    padding: auto;
    margin: 20px auto;
}
.responsive-circle-category-admin i{
    position: absolute;
    top: -3vw;
    right: 1vw;
    margin: auto;
    text-align: center;
    font-size: 10vw;
    color: #fff;
}
.circle-inner-category-admin img {
    display:block;
    margin:10px auto;
    width: 40%;
    height: 25vw;
}
.circle-inner-category-admin h4 {
    margin: 10% auto;
    font-size: 2.5vw;
    font-weight: bold;
}
.responsive-circle-category-admin {
    top: 15px;
    left: 15px;
    font-size: 80px;
    font-weight: 700;
    margin: 2vw auto 0px auto;
    width: 50%;
}
.responsive-circle-category-admin::after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 0;
    margin-bottom: 20px;
    padding-bottom: 100%;
    width: 100%;
    border: 3px solid #fff;
}
.responsive-circle-category-admin div {
    color:#fff;
    float: left;
    line-height: 1em;
    margin-top: -0.5em;
    padding-top: 16%;
    text-align: center;
    width: 100%;
    font-size: 30px;
}
.back-button {
    top: 6px !important;
    left: 15px !important;
    font-size: 35px !important;
}
@media screen and (min-width: 768px){
    .categories-admin-shell {
        position: fixed;
        display: block;
        top:100px !important;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .category-titlebar {    
        position: fixed;
        height: 58px;
        top: 100px;
        width: 100%;
        background-color: rgba(48, 48, 48, 0.7)
    }
    .category-titlebar h2{
        font-size: 24px;
        margin-top: 14px;
        display: block;
        padding: 10px 0px;
        text-align: center;
    }
    .add-category-admin{
        padding: 0px;
        display: block;
        position: absolute;
        top: 1px;
        right: 10px;
    }
    .add-category-admin h5{
        font-size: 8px;
        white-space: nowrap;
        margin-top: 13px;
        margin:10px 0px 0px auto !important;
        text-align: center;
        display: block;
        color: #fff;
    }
    .add-category-admin i{
        margin:0px auto !important;
        font-size: 33px;
        margin-top: 13px;
        text-align: center;
        display: block;
        color: #fff;
    }
    .category-admin a{
        margin: 20px 0px 0px 0px !important;
    }
    .category-admin{
        padding: 0px 0px;
        margin: 0px 15px 0px -15px !important;
    }
    .category-admin-body-shell{
        position: absolute;
        top:79px;
        left: 22% !important;
        right: 22% !important;
        bottom: 0px;
        overflow: scroll;
    }
    .circle-inner-category-admin{
        padding: auto;
        margin: 20px auto;
    }
    .responsive-circle-category-admin i{
        position: absolute;
        top: -2vw;
        right: 1vw;
        margin: auto;
        text-align: center;
        font-size: 5vw;
        color: #fff;
    }
    .circle-inner-category-admin img {
        display:block;
        margin:10px auto;
        width: 40%;
        height: 14vw;
    }
    .circle-inner-category-admin h4 {
        margin: 10% auto;
        font-size: 2vw;
        font-weight: bold;
    }
    .responsive-circle-category-admin {
        top: 15px;
        left: 15px;
        font-size: 80px;
        font-weight: 700;
        margin: 2vw auto 0px auto;
        width: 50%;
    }
    .responsive-circle-category-admin::after {
        border-radius: 50%;
        content: "";
        display: block;
        height: 0;
        margin-bottom: 20px;
        padding-bottom: 100%;
        width: 100%;
        border: 3px solid #fff;
    }
    .responsive-circle-category-admin div {
        color:#fff;
        float: left;
        line-height: 1em;
        margin-top: -0.5em;
        padding-top: 16%;
        text-align: center;
        width: 100%;
        font-size: 30px;
    }
    .back-button {
        top: 6px !important;
        left: 15px !important;
        font-size: 35px !important;
    }
}
