.locale-home-shell {
	position: relative;
	padding: 0px !important;
	margin: 0px !important;
	display: block;
	right: 0px;
	left: 0px;
	overflow: scroll;
	min-width: 100%;
}
.modified-row-locale {
	padding: 0px !important;
	margin: 0px !important;
}
.locale-square-list {
  background: #000;
	border: 1px solid #fff;
	margin: 0px;
	padding: 0px;
}
.locale-square-list:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.locale-square-list-2 {
  background: #000;
	border: 1px solid #fff;
	float: right;
	padding: 0px !important;
	margin: 0px !important;
}
.locale-square-list-2:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.locale-square-list-3 {
  background: #000;
	border: 1px solid #fff;
	float: left;
	padding: 0px !important;
	margin: 0px !important;
}
.locale-square-list-3:after {
  content: "";
  display: block;
  padding-bottom: 99.99%;
}
.locale-square-list-4 {
	margin: 0px;
	padding: 0px;
}
.locale-square-list-4:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.modified-row-locale a img{
	position:absolute;
	height: 100%;
	width: 100%
}


.event_1{
	float: left;
	position:relative;
	display: block;
	width: 33.33333333%;
	margin: 0px !important;
	padding: 0px !important;
  background: #000;
	border: 1px solid #fff;
}
.event_1:after {
	content: "";
  display: block;
  padding-bottom: 99.99%;
}
.event_2{
	float: right;
	position:relative;
	display: block;
	width: 66.66666667%;
	margin: 0px !important;
	padding: 0px !important;
  background: #000;
	border: 1px solid #fff;
}
.event_2:after {
	content: "";
  display: block;
  padding-bottom: 99.99%;
}
.event_3{
	float: left;
	position:relative;
	display: block;
	width: 33.33333333%;
	margin: 0px !important;
	padding: 0px !important;
  background: #000;
	border: 1px solid #fff;
}
.event_3:after {
	content: "";
  display: block;
  padding-bottom: 99.99%;
}
.event_4{
	float: left;
	position:relative;
	display: block;
	width: 33.33333333%;
	margin: 0px !important;
	padding: 0px !important;
  background: #000;
	border: 1px solid #fff;
}
.event_4:after {
	content: "";
  display: block;
  padding-bottom: 99.99%;
}
.event_5{
	float: left;
	position:relative;
	display: block;
	width: 33.33333333%;
	margin: 0px !important;
	padding: 0px !important;
  background: #000;
	border: 1px solid #fff;
}
.event_5:after {
	content: "";
  display: block;
  padding-bottom: 99.99%;
}
.event_6{
	float: left;
	position:relative;
	display: block;
	width: 33.33333333%;
	margin: 0px !important;
	padding: 0px !important;
  background: #000;
	border: 1px solid #fff;
}
.event_6:after {
	content: "";
  display: block;
  padding-bottom: 99.99%;
}
.event_7{
	float: left;
	position:relative;
	display: block;
	width: 33.33333333%;
	margin: 0px !important;
	padding: 0px !important;
  background: #000;
	border: 1px solid #fff;
}
.event_7:after {
	content: "";
  display: block;
  padding-bottom: 99.99%;
}
.event_8{
	float: left;
	position:relative;
	display: block;
	width: 33.33333333%;
	margin: 0px !important;
	padding: 0px !important;
  background: #000;
	border: 1px solid #fff;
}
.event_8:after {
	content: "";
  display: block;
  padding-bottom: 99.99%;
}
.event_9{
	float: left;
	position:relative;
	display: block;
	width: 33.33333333%;
	margin: 0px !important;
	padding: 0px !important;
  background: #000;
	border: 1px solid #fff;
}
.event_9:after {
	content: "";
  display: block;
  padding-bottom: 99.99%;
}
.event_10{
	float: left;
	position:relative;
	display: block;
	width: 33.33333333%;
	margin: 0px !important;
	padding: 0px !important;
  background: #000;
	border: 1px solid #fff;
}
.event_10:after {
	content: "";
  display: block;
  padding-bottom: 99.99%;
}
.event_11{
	float: left;
	position:relative;
	display: block;
	width: 33.33333333%;
	margin: 0px !important;
	padding: 0px !important;
  background: #000;
	border: 1px solid #fff;
}
.event_11:after {
	content: "";
  display: block;
  padding-bottom: 99.99%;
}
.event_12{
	float: left;
	position:relative;
	display: block;
	width: 33.33333333%;
	margin: 0px !important;
	padding: 0px !important;
  background: #000;
	border: 1px solid #fff;
}
.event_12:after {
	content: "";
  display: block;
  padding-bottom: 99.99%;
}