<div class="event-admin-shell">
	<div class="locale-titlebar">
		<h2>EVENTS</h2>
		<div class="event-list-admin">
			<a href="#/add-event-admin">
				<h5>Create Event</h5>
				<i class="fa fa-plus-circle" aria-hidden="true"></i>
			</a>
			<input type="text" placeholder="SEARCH" ng-model="searchText">
		</div>
	</div>
	<div class="event-admin-list-shell">
		<div class="row modified-row-locale">
			<div class="{{event.class}}" ng-repeat="event in events | filter:searchText">
				<img class="event-list-image" ng-src="{{event.img_url}}" alt="">
				<p>{{$index + 1}}) {{event.event_name}}</p>
				<i class="fa fa-caret-up up-arrow" aria-hidden="true"></i>
				<a href="#/edit-event-admin/{{event.id}}"><i class="fa fa-pencil-square-o edit-button-events" aria-hidden="true"></i></a>
				<i class="fa fa-trash-o delete-button-events" aria-hidden="true"></i>
			</div>
		</div>
	</div>

</div>