.event-admin-shell {
    position: fixed;
	display: block;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
    min-width: 100%;
}
.modified-row-locale a p {
    position: absolute;
    top:10px;
    left: 10px;
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.up-arrow {
    position: absolute;
    top:-10px;
    right: 10px;
    color: #fff;
    font-size: 18vw;
    padding: 0px !important;
    margin: 0px !important;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.down-arrow {
    position: absolute;
    bottom:0px;
    right: 10px;
    color: #fff;
    font-size: 15vw;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.locale-titlebar {
    position: relative;
    height: 58px;
    width: 100%;
    background-color: rgba(48, 48, 48, 0.7)
}
.locale-titlebar h2{
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 22px;
    margin-top: 14px;
}
.event-list-admin{
    padding: 0px;
    display: block;
    position: absolute;
    top: 1px;
    right: 10px;
}
.event-list-admin h5{
    font-size: 8px;
    white-space: nowrap;
    margin-top: 13px;
    margin:10px 0px 0px auto !important;
    text-align: center;
    display: block;
    color: #fff;
}
.event-list-admin i{
    margin:0px auto !important;
    font-size: 33px;
    margin-top: 13px;
    text-align: center;
    display: block;
    color: #fff;
}
.event-admin-list-shell{
    position: absolute;
    top:80px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: scroll;
}
.event-admin-name {
    background-color: rgba(48, 48, 48, 0.7);
    display: block;
    height: 85px;
    position: relative;
    border-bottom: 1px solid #6c6c6c;
}
.delete-button{
    position: absolute;
    bottom: 3px;
    right:12px;
    padding: 0px;
    margin: 0px;
    color: #fff;
    font-size: 25px;
}
.edit-button{
    position: absolute;
    bottom: 0px;
    right:40px;
    padding: 0px;
    margin: 0px;
    color: #fff;
    font-size: 26px;
}
