@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/Roboto-Bold.ttf');
}   
html {
    min-height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background: url('../img/locale-bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    
}
.background-handler {
    background: inherit;
    margin:0px !important;
}
.navbar {
    min-height: 0px !important;
}
.navbar-locale-handler {
    position: fixed;
    background: none !important;
    border-bottom: 3px solid #fff;
    border-top: 3px solid #fff;
    top: 120px;
    left: 0px;
    right: 0px;
    min-height: 1px !important;
    height: 30px;
}
.locale-nav a {
    color: #000;
    border-radius: 30px;
    margin-top: 1px;
    margin-bottom: 1px !important;
    height: 100%;
    min-height: 100%;
}
.container-fluid-custom {
    padding: 0px !important;
    margin: 0px !important;
}
.locale-nav {
    padding: 0px 0px;
    margin: 1px auto !important;
    text-align: center;
}
.locale-nav a i {
    color: #fff;
    font-size: 20px;
    margin: 0px !important;
}
.locale-nav a span {
    color: #fff;
    font-size: 21px;
    margin: auto;
}
.locale-nav a:active {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.locale-nav-button {
    height: 18px;
    width: 22px;
}


.settings-icon-locale {
    position: absolute;
    top:20px;
    left: 10px;
    font-size: 30px;
    color:#fff;
    padding: 14px 15px 6px 15px;
    margin: 0;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.25);
    text-align: center;
}
.settings-icon-locale:hover{
    color:#000;
}
.locale-header h1{
    position: fixed;
    top: 5px;
    right: 0;
    left: 0;
    text-align: center;
    margin-right: 0px !important;
    font-size: 25px;
}
.admin-circle {
    top: 15px !important;
    left: auto !important;
    right: 15px !important;
}
.search-locale-shell{
    background: rgba(0, 0, 0, 0.25);
    margin: 0px;
    padding: auto;
    position: fixed;
    margin: auto;
    padding: 0px;
    height: 27px;
    width: 70%;
    border:0;
    border-radius: 30px;
    top: 80px;
    left: 0;
    right: 0;
}
.search-icon-locale {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -5px;
    font-size: 10px;
}
.search-locale {
    background: none;
    padding: auto;
    text-align: center;
    border:0;
    width: 100%;
    font-size: 10px;
    min-height: 100%;
}
input:focus::-webkit-input-placeholder{
    color:transparent; 
}
input:focus:-moz-placeholder { 
    color:transparent;
}
.search-locale::placeholder {
    color: #fff;
}
.locale-content-view {
    position: fixed;
    top: 150px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
    margin: 0 !important;
    padding: 0 !important;
}
.locale-content-view-2 {
    padding: 0px !important;
}

.locale-blur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all .2s ease-in-out;
}
.setting-background {
    background-color: rgba(255, 255, 255, 0.06);
    position: fixed;
    top: 86px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
}
.setting-shell {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    margin: 3px 35px;
    border-radius: 10px;
    padding: 0px 30px;
}
.setting-shell h3 {
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 18px;
}
.setting-menu p {
    position:relative;
    color: #fff;
    font-size: 15px;
    margin: 15px 0 0 !important;
}

.responsive-circle {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 80px;
    font-weight: 700;
    margin: auto;
    width: calc(50px + 0.5vw);
    z-index: 9999;
}
.responsive-circle::after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 0;
    margin-bottom: 20px;
    padding-bottom: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.responsive-circle div {
    color:#fff;
    float: left;
    line-height: 1em;
    margin-top: -0.5em;
    padding-top: 50%;
    text-align: center;
    width: 100%;
    font-size: 30px;
}
[angular-ripple] {
    position: relative;
    overflow: hidden;
}
.angular-ripple {
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    border-radius: 50%;
    transform: scale(0);
}
.angular-ripple.animate {
    animation: ripple 0.35s linear;
}
@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}


